@font-face{font-family:Consolas fy;src:url('../fonts/consola.ttf')}
@font-face{font-family:Consolas fy;font-style:italic;src:url('../fonts/consolai.ttf')}
@font-face{font-family:Consolas fy;font-weight:bold;src:url('../fonts/consolab.ttf')}
@font-face{font-family:Consolas fy;font-style:italic;font-weight:bold;src:url('../fonts/consolaz.ttf')}
@font-face{font-family:"Microsoft Yahei fy";src:url('../fonts/msyh.ttf')}
@font-face{font-family:"Microsoft Yahei fy";font-weight:bold;src:url('../fonts/msyhbd.ttf')}
